.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #7f7f7f;
  color: black;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  list-style: none;
  font-style: none;
  text-decoration: none;
}

a {
  color: black;
  font-style: none;
}

a.visted {
  color: lightgray;
}
